
<header id="header">
	<div class="header--content group:after">
		<div class="name--logo group:after"><a href="#" id="name--logo">John Reagan Moore</a></div>
		<div class="social--icons group:after">
			<a href="http://www.facebook.com/johnreaganmoore"><img id="fb" src="/assets/facebook.png"></a>
			<a href="http://www.github.com/johnreaganmoore"><img id="gh" src="/assets/github.png"></a>
			<a href="http://www.linkedin.com/in/johnreaganmoore"><img id="li" src="/assets/linkedin.png"></a>
			<a href="http://www.twitter.com/johnreaganmoore"><img id="tw" src="/assets/twitter.png"></a>
		</div>
	</div>
</header>
<div class="main--content">
	<span class="items--line"></span>
	<div class="resume--item">
		<div class="resume--item--headline">
			<div class="org--logo applyance">
				<img src="/assets/applyancelogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name applyance" id="applyance">
					Applyance
				</div>
				<div class="close--details applyance--hide">
					-
				</div>
			</div>
			<div class="date">
				2014
			</div>
		</div>
		<div class="resume--item--details applyance--hide">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam velit, mollis pellentesque metus quis, faucibus blandit lorem. Nunc vel nisi dui. Integer facilisis consequat diam id venenatis. Donec auctor tempus dictum. Vivamus nisi nunc, ullamcorper in laoreet vel, condimentum et leo. Suspendisse non tempor urna. Ut rhoncus, orci et sollicitudin laoreet, leo leo fringilla risus, ut mattis nunc ligula quis leo.
			</p>
		</div>
	</div>
	<div class="resume--item" id="jumpstart">
		<div class="resume--item--headline">
			<div class="org--logo jumpstart">
				<img src="/assets/jumpstartfoundrylogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name jumpstart">
						Jumpstart Foundry
				</div>
				<div class="close--details jumpstart--hide">
					-
				</div>
			</div>
			<div class="date">
				2014
			</div>
		</div>
	<div class="resume--item--details jumpstart--hide">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam velit, mollis pellentesque metus quis, faucibus blandit lorem. Nunc vel nisi dui. Integer facilisis consequat diam id venenatis. Donec auctor tempus dictum. Vivamus nisi nunc, ullamcorper in laoreet vel, condimentum et leo. Suspendisse non tempor urna. Ut rhoncus, orci et sollicitudin laoreet, leo leo fringilla risus, ut mattis nunc ligula quis leo.
			</p>
		</div>
	</div>
		<div class="resume--item" id="hackapp">
		<div class="resume--item--headline">
			<div class="org--logo hackapp">
				<img src="/assets/hack_applogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name hackapp">
						hack_app
				</div>
				<div class="close--details hackapp--hide">
					-
				</div>
			</div>
			<div class="date">
				2013-2014
			</div>
		</div>
		<div class="resume--item--details hackapp--hide">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam velit, mollis pellentesque metus quis, faucibus blandit lorem. Nunc vel nisi dui. Integer facilisis consequat diam id venenatis. Donec auctor tempus dictum. Vivamus nisi nunc, ullamcorper in laoreet vel, condimentum et leo. Suspendisse non tempor urna. Ut rhoncus, orci et sollicitudin laoreet, leo leo fringilla risus, ut mattis nunc ligula quis leo.
			</p>
		</div>
	</div>
	<div class="resume--item" id="makersquare">
		<div class="resume--item--headline">
			<div class="org--logo makersquare">
				<img src="/assets/makersquarelogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name makersquare">
						MakerSquare
				</div>
				<div class="close--details makersquare--hide">
					-
				</div>
			</div>
			<div class="date">
				2013
			</div>
		</div>
	<div class="resume--item--details makersquare--hide">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam velit, mollis pellentesque metus quis, faucibus blandit lorem. Nunc vel nisi dui. Integer facilisis consequat diam id venenatis. Donec auctor tempus dictum. Vivamus nisi nunc, ullamcorper in laoreet vel, condimentum et leo. Suspendisse non tempor urna. Ut rhoncus, orci et sollicitudin laoreet, leo leo fringilla risus, ut mattis nunc ligula quis leo.
			</p>
		</div>
	</div>
		<div class="resume--item" id="onehope">
		<div class="resume--item--headline">
			<div class="org--logo onehope">
				<img src="/assets/illuminate.jpeg">
			</div>
			<div class="org--name--container">
				<div class="org--name onehope">
						OneHope
				</div>
				<div class="close--details onehope--hide">
					-
				</div>
			</div>
			<div class="date">
				2012-2013
			</div>
		</div>
		<div class="resume--item--details onehope--hide">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam velit, mollis pellentesque metus quis, faucibus blandit lorem. Nunc vel nisi dui. Integer facilisis consequat diam id venenatis. Donec auctor tempus dictum. Vivamus nisi nunc, ullamcorper in laoreet vel, condimentum et leo. Suspendisse non tempor urna. Ut rhoncus, orci et sollicitudin laoreet, leo leo fringilla risus, ut mattis nunc ligula quis leo.
			</p>
		</div>
	</div>
	<div class="resume--item" id="suitup">
		<div class="resume--item--headline">
			<div class="org--logo suitup">
				<img src="/assets/suituplogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name suitup">
						Suit Up
				</div>
				<div class="close--details suitup--hide">
					-
				</div>
			</div>
			<div class="date">
				2012-2013
			</div>
		</div>
		<div class="resume--item--details suitup--hide">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam velit, mollis pellentesque metus quis, faucibus blandit lorem. Nunc vel nisi dui. Integer facilisis consequat diam id venenatis. Donec auctor tempus dictum. Vivamus nisi nunc, ullamcorper in laoreet vel, condimentum et leo. Suspendisse non tempor urna. Ut rhoncus, orci et sollicitudin laoreet, leo leo fringilla risus, ut mattis nunc ligula quis leo.
			</p>
		</div>
	</div>
	<div class="resume--item" id="gordon">
		<div class="resume--item--headline">
			<div class="org--logo gordon">
				<img src="/assets/gordoncollegelogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name gordon">
						Gordon College
				</div>
				<div class="close--details gordon--hide">
					-
				</div>
			</div>
			<div class="date">
				2008-2012
			</div>
		</div>
	<div class="resume--item--details gordon--hide">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam velit, mollis pellentesque metus quis, faucibus blandit lorem. Nunc vel nisi dui. Integer facilisis consequat diam id venenatis. Donec auctor tempus dictum. Vivamus nisi nunc, ullamcorper in laoreet vel, condimentum et leo. Suspendisse non tempor urna. Ut rhoncus, orci et sollicitudin laoreet, leo leo fringilla risus, ut mattis nunc ligula quis leo.
			</p>
		</div>
	</div>
</div>
<footer></footer>
<%= javascript_include_tag "home", "data-turbolinks-track" => true %>