<!-- <div class="home-container">
	<div class="home-content gut">
		<h2>I'm working on <a href="http://applyance.com">Applyance</a> and <a href="http://hackapp.co">hack_app</a>.</h2>

		<h4>I also occasionally use <a href="http://twitter.com/johnreaganmoore">twitter</a>, <a href="http://facebook.com/johnreaganmoore">facebook</a>, <a href="http://linkedin.com/in/johnreaganmoore">linkedin</a>, and <a href="http://github.com/johnreaganmoore">github</a>.<h4>
	</div>
</div>
		 -->



<header>
	<div class="header--content group:after">
		<div class="name--logo group:after">John Reagan Moore</div>
		<div class="social--icons group:after">
			<img src="http://g.twimg.com/Twitter_logo_blue.png">
			<img src="http://g.twimg.com/Twitter_logo_blue.png">
			<img src="http://g.twimg.com/Twitter_logo_blue.png">
			<img src="http://g.twimg.com/Twitter_logo_blue.png">
		</div>
	</div>
</header>
<div class="main--content">
	<div class="resume--item">
		<div class="resume--item--headline">
			<div class="org--logo">
				<img src="http://g.twimg.com/Twitter_logo_blue.png">
			</div>
			<div class="org--name">
				<h2>
					Applyance
				</h2>
			</div>
			<div>
				<button class="close-details">-</button>
			</div>
			<div>
				<h3>
					2014
				</h3>
			</div>
		</div>
		<div class="resume--item--details">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam velit, mollis pellentesque metus quis, faucibus blandit lorem. Nunc vel nisi dui. Integer facilisis consequat diam id venenatis. Donec auctor tempus dictum. Vivamus nisi nunc, ullamcorper in laoreet vel, condimentum et leo. Suspendisse non tempor urna. Ut rhoncus, orci et sollicitudin laoreet, leo leo fringilla risus, ut mattis nunc ligula quis leo.
			</p>
		</div>
	</div>
</div>