
<header id="header">
	<div class="header--content group:after">
		<div class="name--logo group:after"><a href="#" id="name--logo">John Reagan Moore</a></div>
		<div class="social--icons group:after">
			<a href="mailto:johnreaganmoore@gmail.com"><img id="em" src="/assets/email.png"></a>
			<a href="http://www.facebook.com/johnreaganmoore"><img id="fb" src="/assets/facebook.png"></a>
			<a href="http://www.github.com/johnreaganmoore"><img id="gh" src="/assets/github.png"></a>
			<a href="http://www.linkedin.com/in/johnreaganmoore"><img id="li" src="/assets/linkedin.png"></a>
			<a href="http://www.twitter.com/johnreaganmoore"><img id="tw" src="/assets/twitter.png"></a>
		</div>
	</div>
</header>
<div class="main--content">
	<span class="items--line"></span>
	<div class="resume--item">
		<div class="resume--item--headline">
			<div class="org--logo applyance">
				<img src="/assets/applyancelogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name applyance" id="applyance">
					Applyance
				</div>
				<div class="close--details applyance--hide">
					-
				</div>
			</div>
			<div class="date">
				2014
			</div>
		</div>
		<div class="resume--item--details applyance--hide">
			<p><h2><a href="http://www.applyance.com">applyance.com</a></h2></p>
			<p>
				Applyance is a simple, flexible, and powerful application management tool.  We help businesses and schools manage their application systems, from jobs to admissions.
			</p>	
			<p>
				At Applyance I work directly with our customers, and help direct the product.
			</p>
			<p>Here's me pitching Applyance at the Jumpstart Foundry demo day:</p>

			<div class="video--container">
				<iframe src="//player.vimeo.com/video/108751219?title=0&amp;byline=0&amp;portrait=0&amp;color=f2bc36" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="resume--item">
		<div class="resume--item--headline" id="jumpstart">
			<div class="org--logo jumpstart">
				<img src="/assets/jumpstartfoundrylogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name jumpstart">
						Jumpstart Foundry
				</div>
				<div class="close--details jumpstart--hide">
					-
				</div>
			</div>
			<div class="date">
				2014
			</div>
		</div>
	<div class="resume--item--details jumpstart--hide">
			<p>
				Early success with hack_app led us to <a href="http://www.jsf.co">Jumpstart Foundry</a>, the top startup accelerator in the South, and a top 15 accelerator in the world.  While at Jumpstart I gained a lot of experience in running a startup, from customer and product development through presentations and fundraising.
			</p>
			<p>
				Through Jumpstart we developed hack_app into a more robust and flexible application management tool- Applyance.
			</p>
			<p>Here's a video of me from demo day:</p>
			<div class="video--container">
				<iframe src="//player.vimeo.com/video/108751219?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9000" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
		<div class="resume--item" id="hackapp">
		<div class="resume--item--headline">
			<div class="org--logo hackapp">
				<img src="/assets/hack_applogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name hackapp">
						hack_app
				</div>
				<div class="close--details hackapp--hide">
					-
				</div>
			</div>
			<div class="date">
				2013-2014
			</div>
		</div>
		<div class="resume--item--details hackapp--hide">
			<p><h2><a href="http://www.hackapp.co">hackapp.co</a></h2></p>
			<p>
				hack_app is the common application for coding bootcamps.  Stephen Watkins and I started hack_app to make code school admissions easier for both students and schools after being inspired by my own experience.  
			</p>
		</div>
	</div>
	<div class="resume--item" id="makersquare">
		<div class="resume--item--headline">
			<div class="org--logo makersquare">
				<img src="/assets/makersquarelogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name makersquare">
						MakerSquare
				</div>
				<div class="close--details makersquare--hide">
					-
				</div>
			</div>
			<div class="date">
				2013
			</div>
		</div>
	<div class="resume--item--details makersquare--hide">
			<p>
				At <a href="http://www.makersquare.com">MakerSquare</a> I studied web development with Ruby and JavaScript, including frameworks and libraries like Rails, Sinatra, Backbone and jQuery.  MakerSquare was a fantastic learning experience and a helped me launch my career as a developer and an entrepreneur.
			</p>
			<p>
				MakerSquare taught me to love software engineering and and the joy of learning.  I have continued to learn about different areas of development including iOS apps with Swift and JavaScript apps using Meteor and Firebase.
			</p>
		</div>
	</div>
		<div class="resume--item" id="onehope">
		<div class="resume--item--headline">
			<div class="org--logo onehope">
				<img src="/assets/illuminate.jpeg">
			</div>
			<div class="org--name--container">
				<div class="org--name onehope">
						OneHope
				</div>
				<div class="close--details onehope--hide">
					-
				</div>
			</div>
			<div class="date">
				2012-2013
			</div>
		</div>
		<div class="resume--item--details onehope--hide">
			<p>
				I started working with <a href="http://www.onehope.net">OneHope</a> as a consultant, managing then development of a new online initiative, and then moved into a full-time project managment role after my project contributed to OneHope earning a multi-million dollar innovation grant.</p> 

			<p>I managed the development of the first version of <a href="http://www.illuminateideas.org/">Illuminate</a>, a platform for children's ministry practitioners around the world to share best practices and resources.
			</p>
		</div>
	</div>
	<div class="resume--item" id="suitup">
		<div class="resume--item--headline">
			<div class="org--logo suitup">
				<img src="/assets/suituplogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name suitup">
						Suit Up
				</div>
				<div class="close--details suitup--hide">
					-
				</div>
			</div>
			<div class="date">
				2012-2013
			</div>
		</div>
		<div class="resume--item--details suitup--hide">
			<p>I started Suit Up to explore my interest in web design and web development.  I worked with small business clients to develop and implement their digital marketing strategy.</p>

			<p>During my time at Suit Up I gained valuable experience in sales, business strategy and partnerships, and project management as well as email marketing, web design, WordPress and front-end development.</p>
		</div>
	</div>
	<div class="resume--item" id="gordon">
		<div class="resume--item--headline">
			<div class="org--logo gordon">
				<img src="/assets/gordoncollegelogo.png">
			</div>
			<div class="org--name--container">
				<div class="org--name gordon">
						Gordon College
				</div>
				<div class="close--details gordon--hide">
					-
				</div>
			</div>
			<div class="date">
				2008-2012
			</div>
		</div>
	<div class="resume--item--details gordon--hide">
			<p>
				At Gordon College in Wenham, MA, I participated in the honors program, studied economics, earned a 3.85 major GPA, played 4 years of varsity soccer, and wooed my beautiful wife.
			</p>
		</div>
	</div>
</div>
<footer></footer>
<%= javascript_include_tag "home", "data-turbolinks-track" => true %>