// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Source+Sans+Pro|Fenix|Fauna+One|Carrois+Gothic|Carme|Ledger|Linden+Hill|Cardo);

$golden-factor: 12px;
$gf: $golden-factor;

$gut-max-width: 1200px;


* {
	margin: 0;
	background-color: #FAFAFA;
}

body {
	color: #636363;
	font-family: 'Fenix', serif;
	font-size: 32px;
}

header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 900;
	background-color: transparent;
	padding: 12px;
}

.logo {
	img {
		border-radius: 50%;
		max-width: 100px;
	}

	li {
		float: left; 
	}

	ul {
		list-style: none;
	}

	font-family: 'Fenix', serif;

}

a {
	color: #3C9951;
	text-decoration: none;
}

a:hover {
	color: #49BA63;
}

h2 {
	font-family: 'Cardo', sans-serif;
	font-size: 70px;
	font-weight: 600;
	margin: 25px 25px 25px 0px;

}

.post {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 30px;
	margin-left: 30px;

	.title {
		color: black;
		font-family: 'Alegreya Sans SC', sans-serif;
		font-size: 70px;
		font-weight: 600;
		margin: 25px 25px 25px 0px;
	}

	.article {
		font-family: 'Fenix', serif;
		font-size: 32px;
	}
}




.gut {

  background-color: white;
  max-width: $gut-max-width;

  padding-left: gf(1.5);
  padding-right: gf(1.5);

  margin-left: auto;
  margin-right: auto;

}

.hero {
	background-image: url(/assets/Mountains.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50rem;
}

.home-content {
	text-align: center;
	margin-top: 19%;
}
